extends layout
block content
  h1= title


  ul
    each provider in providers
        li
            if provider.logged_in
                span= "Logged in with " + provider.name
                if provider.id_token
                    span= provider.id_token
                else
                    span No id token

                if provider.profile
                    span= provider.profile
                else
                    a(href= provider.fetch_profile)= "Fetch profile"
            else if provider.url
                a(href= provider.url)= "Log in with " + provider.name
            else
                span= "Missing configuration for " + provider.name + ". "
                a(href= provider.client_signup_link)= "Register your client."